:root {
    --clr-heading: firebrick;
    --ff: "Ubuntu", sans-serif;
    --fs-action: 1.2em;
}

*,::after,::before {
    box-sizing: border-box;
    margin: 0;
}

body {
    min-height: 100vh;
    background-image: url("/assets/gasbg.jpg");
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
    font-family: var(--ff); 
}

h1 {
    font-size: 1.6em;
}

h2 {
    font-size: 1.4em;
}

h1,h2,h3,h4,h5,h6 {
    color: var(--clr-heading);
}

img {
    max-width: 100%;
}

input,button {
    font:inherit;
    color: inherit;
}

nav {
    background-color: olive;
    width: 100%;
    padding: 1em;
    display: flex;
    justify-content: space-around;
}

select {
    background-color: whitesmoke;
    border: 0;
    padding: 0.6em 1.6em;
    border-radius: 4px;
}

.header {
    padding: 1em;
    background-color: rgba(255,255,255,0.6);
    color: var(--clr-heading);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    width: 90%;
    margin: 1em auto;
    background-color: rgba(255,255,255,0.8);
    max-width: 600px;
}

.reg-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.reg-form input {
    padding:0.7em 0.3em;
    border: 0;
    border-radius: 4px;
}

.reg-form .errore {
    border: 2px solid red;
}

.reg-form input:focus {
    outline: none;
}

.reg-form__btn-reg {
    background: none;
    border:none;
    color: #0070E0;
    text-decoration: underline;
    cursor: pointer;
}

.reg-form__errori ul {
    list-style: none;
    color: red;
}

.utenti-admin, .referente-section {
    padding: 1em;
}

.utenti-admin__utente {
    margin: 1em auto;
}

.utenti-admin__utente--button {
    background-color: skyblue;
    border: 0;
    text-decoration: none;
    color: #FFFFFF;
    padding: 0.3em 0.6em;
    margin: 1em 0;
    cursor: pointer;
    width: 45%;
    border-radius: 4px;
    font-weight: bold;
    font-size: var(--fs-action);
}

.referente-section ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.referente-section__azione {
    text-decoration: none;
    background-color: orangered;
    color: white;
    font-style: italic;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 4px;
    padding: 0.3em 0.6em;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.3);
}



.cancella {
    background-color: red !important;
}

.active {
    font-size: var(--fs-action);
    color: ghostwhite;
    font-weight: bold;
    text-decoration: none;
}

.nuovo-fornitore h3{
    color: var(--clr-heading);
    font-weight: bold;
}

.nuovo-fornitore {
    margin-top: 1em;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.4em;
}

.nuovo-fornitore input, .nuovo-fornitore textarea {
    width: 100%;
    border: 0;
    padding: 0.5em;
    border-radius: 2px;
}

.nuovo-fornitore input:focus, .nuovo-fornitore textarea:focus {
    outline: none;
}

.nuovo-fornitore button {
    background-color: #0070E0;
    color: ghostwhite;
    border: 0;
    border-radius: 4px;
    padding: 0.3em 0.6em;
    cursor: pointer;

}

.elenco-fornitori, .ordine {
    margin: 1em auto;
    text-align: center;
}

.fornitore-presentazione {
    text-align: center;
}

.fornitore-prodotti__prodotti {
    margin-top: 1em;
}

.fornitore-prodotti__prodotti ul {
    list-style: none;
}

.fornitore-prodotti__prodotti__aggiungi {
    border: 2px solid salmon;
    margin-top: 2em;
    padding: 1em;
}

.fornitore-prodotti__prodotti__aggiungi form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ordine-ins {
    margin: 1em auto;
    text-align: center;
}

.ordine-ins__form {
    margin: 1em auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}

.ordine-fornitore {
    text-transform: uppercase;
}

.gasista-container {
    text-align: center;
}

.gasista-container ul {
    list-style: none;
}

.gasista-container__quantita {
    width: 50px;
}