<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Attenzione, questi sono fragments. Non dovresti mai vedere questa pagina</h1>
    <div th:fragment="ordine">
        <ul>
            <li th:each="ordine : ${ordini}">
                <th:block th:text="${ordine.id}"></th:block>
                <th:block th:text="${ordine.fine}"></th:block>
                <th:block th:text="${ordine.descrizione}"></th:block>
            </li>
        </ul>
    </div>
</body>
</html>