<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Abilita</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <header class="header">
        <h1>Giardino di San Francesco</h1>
    </header>
    <div class="container">
        <div class="utente" th:each="utente : ${utenti}">
            <span th:text="${utente.nome}"></span>
            <span th:text="${utente.cognome}"></span>
            <span th:text="${utente.email}"></span>
            <a th:href="@{| /abilita/${utente.id} |}">Abilita</a>
        </div>
    </div>
</body>
</html>